<footer class="bg-dark text-white py-5">
    <div class="container">
      <h2 class="text-center">Contact Me</h2>
      <div class="text-center">
        <p>Email: jamal.aldeen.y&#64;gmail.com</p>
        <div>
          <a href="#" class="text-white mx-3"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#" class="text-white mx-3"><i class="fab fa-github fa-2x"></i></a>
          <a href="#" class="text-white mx-3"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
      </div>
    </div>
  </footer>