<section class="py-5">
    <div class="container">
      <h2>About Me</h2>
      <p>Passionate Software Engineer, specializing in backend development. A firm believer in people's potential, committed to breaking limits through dedication, hard work, and continuous learning.</p>
      <img [src]="hamaa" alt="Jamal Aldeen" class="img-fluid rounded-circle mb-4">
      <div class="d-flex justify-content-center">
        <a href="database.txt" download>
            <button>Download CV</button>
        </a>
    </div>
  </div>
  </section>